

.video {
  padding: 150px 0 100px;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 285px;
    background: url("../images/video-bg.png") center/cover no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  &__content {
    width: 770px;
    height: 440px;
    background: url("../images/video-play.png") center/cover no-repeat;
    border-radius: 12px;
    position: relative;
    margin: 42px auto 0;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: #3035C460;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}